<div class="signature-content-container">
    <div class="content">
        <div id="signature" draggable='true' ondragstart="onDragStart(event)" class="draggable-item">Signature</div>
        <div id="date" draggable='true' ondragstart="onDragStart(event)" class="draggable-item">Date</div>
    </div>

    <div class="content">
        <div id="check-box" draggable='true' ondragstart="onDragStart(event)" class="draggable-item">Check Box</div>
        <div id="dropdown" draggable='true' ondragstart="onDragStart(event)" class="draggable-item">Drop down</div>
    </div>

    <div class="content">
        <div id="text-field" draggable='true' ondragstart="onDragStart(event)" class="draggable-item">Text Field</div>
    </div>
</div>


<style type="text/css">
    .signature-content-container {
        height: 100%;
        width: 450px;
        background: #ffffff
    }

    .content {
        display: flex;
        flex-direction: row;
    }

    .draggable-item {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        align-items: center;
        border: 1px dashed #6DB65B;
        margin: 5px;
        min-height: 50px;
    }
</style>

<script type="text/javascript">
    function onDragStart(event) {
        event.dataTransfer.setData('text/html', '');
        // add the id to local storage under currentItemDragged
        const storage = window.localStorage;
        storage.setItem('currentItemDragged', event.target.id);
        const draggableElement = document.getElementById(event.target.className);
        event.currentTarget.style.backgroundColor = 'yellow';
    };
</script>